header {
    text-align:center;
    background-color: green;
}

nav {
    color: blue;

}

.titulo_seccion {
    background-color: black; 
    color: antiquewhite;
}

.titulo_punto {
    font-style: italic; 
    font-size:large;
}


body {
    width: 80vw; 
    margin-left: 10%;
    margin-right: 10%;
}

.puntos {
    text-align: justify; 
}

#foto_perfil {
    width: 300px;
}

.parr_exp {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}

.fecha_exp  {
    text-align: right;

}

#return {
    text-align: right;

}

#derechos {
    text-align: center;
}

#contacto {
    text-align: center;
}

#foot {
    background-color: yellowgreen;
}